# Visual Studio files
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.db
*.opensdf
*.opendb
*.log
*.tlog
*.sdf
*.idb
*.ipch

# Compiled files
*.obj
*.lib
*.dll
*.exe
*.pdb
*.ilk

# Other files
*.bak
*.tmp
